<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.brand_accent }}">
    <link rel="canonical" href="{{ canonical_url }}">

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 64, height: 64 }}">
    {%- endif -%}

    <title>
      {{ page_title }}
      {%- if current_tags %} - tagged {{ current_tags | join: ', ' }}{% endif -%}
      {%- if current_page != 1 %} - Page {{ current_page }}{% endif -%}
      {%- unless page_title contains 'MySelfie' %} - MySelfie{% endunless -%}
    </title>

    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    {{ content_for_header }}

    <style>
      :root {
        --font-heading: {{ settings.font_heading }};
        --font-body: {{ settings.font_body }};
        --brand-accent: {{ settings.brand_accent }};
        --bg-start: {{ settings.bg_start }};
        --bg-end: {{ settings.bg_end }};
      }
    </style>

    {{ 'base.css' | asset_url | stylesheet_tag }}
    <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>
  </head>

  <body class="template-{{ template.name | handle }}">
    {% section 'header' %}

    <main id="MainContent" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>

    {% section 'footer' %}
  </body>
</html>
